<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275249121000-14i8k7igrjhg6o9qno5kjk1qkr4msgnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275249121000-14i8k7igrjhg6o9qno5kjk1qkr4msgnu</string>
	<key>API_KEY</key>
	<string>AIzaSyBSNq-RgLF1wg7xJg1mmK-kokaVL0_T0Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>275249121000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.lk.COBSCComp201P001-Eshan</string>
	<key>PROJECT_ID</key>
	<string>eshan-cobsccomp201p-001</string>
	<key>STORAGE_BUCKET</key>
	<string>eshan-cobsccomp201p-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275249121000:ios:d5b29eae09cc5f3bac2b5d</string>
</dict>
</plist>